.how {
    padding: 0 0 60px;
    @media (max-width: 991px) {
        padding-bottom: 40px;
    }
    &__title {
        @media (max-width: 991px) {
            font-size: 24px;
        }
    }
    &__hr {
        border-top: 8px solid #170F2F;
        margin-bottom: 60px;
        @media (max-width: 991px) {
            margin-bottom: 30px;
        }
    }
}